<%- include('layout/_head', { title: 'puzzle' }) %>
<%- include('layout/_header') %>

<main>
    <div class="container">
        <div class="puzzle-container">
            <div class="puzzle-menu">
                <div class="puzzle-menu__inner">
                    <p class="puzzle-menu__moves">moves:
                        <span class="puzzle-menu__moves-counter">0</span>
                    </p>
                </div>
            </div>

            <div class="puzzle">
                <div class="puzzle__game-container">
                    <div class="puzzle__puzzle-item" data-puzzle="0">
                        <img src="../images/0.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="1">
                        <img src="../images/1.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="2">
                        <img src="../images/2.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="3">
                        <img src="../images/3.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="4">
                        <img src="../images/4.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="5">
                        <img src="../images/5.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="6">
                        <img src="../images/6.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="7">
                        <img src="../images/7.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="8">
                        <img src="../images/8.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="9">
                        <img src="../images/9.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="10">
                        <img src="../images/10.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="11">
                        <img src="../images/11.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="12">
                        <img src="../images/12.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="13">
                        <img src="../images/13.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item" data-puzzle="14">
                        <img src="../images/14.jpg" alt="#">
                    </div>
                    <div class="puzzle__puzzle-item _empty" data-puzzle="15"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('layout/_footer') %>
<%- include('layout/_foot.ejs') %>
